.dashboard-2 {

    //background: linear-gradient(60deg, #736AFF, #AA6DEB);
    background: #e4e2f5;

    nav {
        //border-top-right-radius: 15px;
        //border-bottom-right-radius: 15px;
        background-color: #3d5af1;
        border-right: none;

        .logo-name {
            .logo-image {
                img {
                    border-radius: unset;
                }
            }

            .logo_name {
                color: #fff;
            }
        }
        .menu-items{
            .nav-links{
                li {

                    color: #cfcde7;
                    padding: 2.5px 0;
                    a {
                        i {
                            color: #cfcde7;
                        }

                        i.active {
                            color: #fff;
                        }

                        span {
                            color: #cfcde7;
                            margin: auto 10px;
                            font-size: 16px;
                        }

                        span.active {
                            color: #fff;
                        }
                    }

                    a:hover {
                        i {
                            color: #fff;
                        }

                        span {
                            color: #fff;
                        }
                    }

                    a.active {
                        background-color: #3651d4;
                        border-radius: 10px;
                    }

                    
                }
            }

            .logout-mode {
                border-top: none;
                li {
                    padding: 2.5px 0;
                    a {
                        i {
                            color: #cfcde7;
                        }

                        span {
                            color: #cfcde7;
                            margin: auto 20px;
                            font-size: 16px;
                        }
                    }

                    a:hover {
                        i {
                            color: #fff;
                        }

                        span {
                            color: #fff;
                        }
                    }
                }
            }
        }
    }

    .dashboard {
        .top {
            position: initial;
            padding: 10px 0px;
        }

        .dash-content{
            padding-top: 0px;

            /* ==============================================
                ALL CUSTOM STYLING PUT UNDER HERE
            ============================================== */
            // FORMS PAGE
            .forms-wrapper{
                margin: 0 auto;
                padding-bottom: 50px;
            }
            








        }
    }
    
}

