@import url(https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap);
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

:root {
  /* ===== Colors ===== */
  --primary-color: #0E4BF1;
  --panel-color: #FFF;
  --text-color: #000;
  --black-light-color: #707070;
  --border-color: #e6e5e5;
  --toggle-color: #DDD;
  --box1-color: #4DA3FF;
  --box2-color: #FFE6AC;
  --box3-color: #E7D1FC;
  --title-icon-color: #fff;
  /* ====== Transition ====== */
  --tran-05: all 0.5s ease;
  --tran-03: all 0.3s ease;
  --tran-03: all 0.2s ease;
}

body {
  min-height: 100vh;
  background-color: var(--primary-color);
}

body.dark {
  --primary-color: #3A3B3C;
  --panel-color: #242526;
  --text-color: #CCC;
  --black-light-color: #CCC;
  --border-color: #4D4C4C;
  --toggle-color: #FFF;
  --box1-color: #3A3B3C;
  --box2-color: #3A3B3C;
  --box3-color: #3A3B3C;
  --title-icon-color: #CCC;
}

/* === Custom Scroll Bar CSS === */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: rgb(201, 201, 201);
  border-radius: 12px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

::-webkit-scrollbar-thumb:hover {
  background: #d1d2d4;
}

body.dark::-webkit-scrollbar-thumb:hover,
body.dark .activity-data::-webkit-scrollbar-thumb:hover {
  background: #3A3B3C;
}

.dashboard-2 nav {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 250px;
  padding: 10px 14px;
  background-color: var(--panel-color);
  border-right: 1px solid var(--border-color);
  transition: var(--tran-05);
}
.dashboard-2 nav.close {
  width: 73px;
}
.dashboard-2 nav .logo-name {
  display: flex;
  align-items: center;
}
.dashboard-2 nav .logo-image {
  display: flex;
  justify-content: center;
  min-width: 45px;
}
.dashboard-2 nav .logo-image img {
  width: 40px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
}
.dashboard-2 nav .logo-name .logo_name {
  font-size: 22px;
  font-weight: 600;
  color: var(--text-color);
  margin-left: 14px;
  transition: var(--tran-05);
}
.dashboard-2 nav.close .logo_name {
  opacity: 0;
  pointer-events: none;
}
.dashboard-2 nav .menu-items {
  margin-top: 40px;
  height: calc(100% - 90px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.dashboard-2 .menu-items li {
  list-style: none;
}
.dashboard-2 .menu-items li a {
  display: flex;
  align-items: center;
  height: 50px;
  text-decoration: none;
  position: relative;
}
.dashboard-2 body.dark li a:hover:before {
  background-color: var(--text-color);
}
.dashboard-2 .menu-items li a i {
  font-size: 24px;
  min-width: 45px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--black-light-color);
}
.dashboard-2 .menu-items li a .link-name {
  font-size: 18px;
  font-weight: 400;
  color: var(--black-light-color);
  transition: var(--tran-05);
}
.dashboard-2 nav.close li a .link-name {
  opacity: 0;
  pointer-events: none;
}
.dashboard-2 .nav-links li a:hover i,
.dashboard-2 .nav-links li a:hover .link-name {
  color: var(--primary-color);
}
.dashboard-2 body.dark .nav-links li a:hover i,
.dashboard-2 body.dark .nav-links li a:hover .link-name {
  color: var(--text-color);
}
.dashboard-2 .menu-items .logout-mode {
  padding-top: 10px;
  border-top: 1px solid var(--border-color);
}
.dashboard-2 .menu-items .mode {
  display: flex;
  align-items: center;
  white-space: nowrap;
}
.dashboard-2 .menu-items .mode-toggle {
  position: absolute;
  right: 14px;
  height: 50px;
  min-width: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.dashboard-2 .mode-toggle .switch {
  position: relative;
  display: inline-block;
  height: 22px;
  width: 40px;
  border-radius: 25px;
  background-color: var(--toggle-color);
}
.dashboard-2 .switch:before {
  content: "";
  position: absolute;
  left: 5px;
  top: 50%;
  transform: translateY(-50%);
  height: 15px;
  width: 15px;
  background-color: var(--panel-color);
  border-radius: 50%;
  transition: var(--tran-03);
}
.dashboard-2 body.dark .switch:before {
  left: 20px;
}
.dashboard-2 .dashboard {
  position: relative;
  left: 250px;
  min-height: 100vh;
  width: calc(100% - 250px);
  padding: 10px 35px;
  transition: var(--tran-05);
}
.dashboard-2 nav.close ~ .dashboard {
  left: 73px;
  width: calc(100% - 73px);
}
.dashboard-2 .dashboard .top {
  position: fixed;
  top: 0;
  left: 250px;
  display: flex;
  width: calc(100% - 250px);
  justify-content: space-between;
  align-items: center;
  padding: 10px 14px;
  transition: var(--tran-05);
  z-index: 10;
}
.dashboard-2 nav.close ~ .dashboard .top {
  left: 73px;
  width: calc(100% - 73px);
}
.dashboard-2 .dashboard .top .sidebar-toggle {
  font-size: 26px;
  color: var(--text-color);
  cursor: pointer;
}
.dashboard-2 .dashboard .top .search-box {
  position: relative;
  height: 45px;
  max-width: 600px;
  width: 100%;
  margin: 0 30px;
}
.dashboard-2 .top .search-box input {
  position: absolute;
  border: 1px solid var(--border-color);
  background-color: var(--panel-color);
  padding: 0 25px 0 50px;
  border-radius: 5px;
  height: 100%;
  width: 100%;
  color: var(--text-color);
  font-size: 15px;
  font-weight: 400;
  outline: none;
}
.dashboard-2 .top .search-box i {
  position: absolute;
  left: 15px;
  font-size: 22px;
  z-index: 10;
  top: 50%;
  transform: translateY(-50%);
  color: var(--black-light-color);
}
.dashboard-2 .top img {
  width: 40px;
  border-radius: 50%;
}
.dashboard-2 .dashboard .dash-content {
  padding-top: 50px;
}
.dashboard-2 .dash-content .title {
  display: flex;
  align-items: center;
  margin: 60px 0 30px 0;
}
.dashboard-2 .dash-content .title i {
  position: relative;
  height: 35px;
  width: 35px;
  background-color: var(--primary-color);
  border-radius: 6px;
  color: var(--title-icon-color);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
}
.dashboard-2 .dash-content .title .text {
  font-size: 24px;
  font-weight: 500;
  color: var(--text-color);
  margin-left: 10px;
}
.dashboard-2 .dash-content .boxes {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.dashboard-2 .dash-content .boxes .box {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 12px;
  width: calc(33.3333333333% - 15px);
  padding: 15px 20px;
  background-color: var(--box1-color);
  transition: var(--tran-05);
}
.dashboard-2 .boxes .box i {
  font-size: 35px;
  color: var(--text-color);
}
.dashboard-2 .boxes .box .text {
  white-space: nowrap;
  font-size: 18px;
  font-weight: 500;
  color: var(--text-color);
}
.dashboard-2 .boxes .box .number {
  font-size: 40px;
  font-weight: 500;
  color: var(--text-color);
}
.dashboard-2 .boxes .box.box2 {
  background-color: var(--box2-color);
}
.dashboard-2 .boxes .box.box3 {
  background-color: var(--box3-color);
}
.dashboard-2 .dash-content .activity .activity-data {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.dashboard-2 .activity .activity-data {
  display: flex;
}
.dashboard-2 .activity-data .data {
  display: flex;
  flex-direction: column;
  margin: 0 15px;
}
.dashboard-2 .activity-data .data-title {
  font-size: 20px;
  font-weight: 500;
  color: var(--text-color);
}
.dashboard-2 .activity-data .data .data-list {
  font-size: 18px;
  font-weight: 400;
  margin-top: 20px;
  white-space: nowrap;
  color: var(--text-color);
}
@media (max-width: 1000px) {
  .dashboard-2 nav {
    width: 73px;
  }
  .dashboard-2 nav.close {
    width: 250px;
  }
  .dashboard-2 nav .logo_name {
    opacity: 0;
    pointer-events: none;
  }
  .dashboard-2 nav.close .logo_name {
    opacity: 1;
    pointer-events: auto;
  }
  .dashboard-2 nav li a .link-name {
    opacity: 0;
    pointer-events: none;
  }
  .dashboard-2 nav.close li a .link-name {
    opacity: 1;
    pointer-events: auto;
  }
  .dashboard-2 nav ~ .dashboard {
    left: 73px;
    width: calc(100% - 73px);
  }
  .dashboard-2 nav.close ~ .dashboard {
    left: 250px;
    width: calc(100% - 250px);
  }
  .dashboard-2 nav ~ .dashboard .top {
    left: 73px;
    width: calc(100% - 73px);
  }
  .dashboard-2 nav.close ~ .dashboard .top {
    left: 250px;
    width: calc(100% - 250px);
  }
  .dashboard-2 .activity .activity-data {
    overflow-X: scroll;
  }
}
@media (max-width: 780px) {
  .dashboard-2 .dash-content .boxes .box {
    width: calc(50% - 15px);
    margin-top: 15px;
  }
}
@media (max-width: 560px) {
  .dashboard-2 .dash-content .boxes .box {
    width: 100%;
  }
}
@media (max-width: 400px) {
  .dashboard-2 nav {
    width: 0px;
  }
  .dashboard-2 nav.close {
    width: 73px;
  }
  .dashboard-2 nav .logo_name {
    opacity: 0;
    pointer-events: none;
  }
  .dashboard-2 nav.close .logo_name {
    opacity: 0;
    pointer-events: none;
  }
  .dashboard-2 nav li a .link-name {
    opacity: 0;
    pointer-events: none;
  }
  .dashboard-2 nav.close li a .link-name {
    opacity: 0;
    pointer-events: none;
  }
  .dashboard-2 nav ~ .dashboard {
    left: 0;
    width: 100%;
  }
  .dashboard-2 nav.close ~ .dashboard {
    left: 73px;
    width: calc(100% - 73px);
  }
  .dashboard-2 nav ~ .dashboard .top {
    left: 0;
    width: 100%;
  }
  .dashboard-2 nav.close ~ .dashboard .top {
    left: 0;
    width: 100%;
  }
}
.dashboard-2 .dash-content {
  padding-top: 0px;
  /* ==============================================
      ALL TEMPLATES PUT UNDER HERE
  ============================================== */
}
.dashboard-2 .dash-content .forms-wrapper {
  position: relative;
  max-width: 430px;
  width: 100%;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  margin: 0 20px;
}
.dashboard-2 .dash-content .forms-wrapper .forms {
  display: flex;
  align-items: center;
  height: 440px;
  width: 200%;
  transition: height 0.2s ease;
}
.dashboard-2 .dash-content .forms-wrapper .form {
  width: 50%;
  padding: 30px;
  background-color: #fff;
  transition: margin-left 0.18s ease;
}
.dashboard-2 .dash-content .forms-wrapper.active .login {
  margin-left: -50%;
  opacity: 0;
  transition: margin-left 0.18s ease, opacity 0.15s ease;
}
.dashboard-2 .dash-content .forms-wrapper .signup {
  opacity: 0;
  transition: opacity 0.09s ease;
}
.dashboard-2 .dash-content .forms-wrapper.active .signup {
  opacity: 1;
  transition: opacity 0.2s ease;
}
.dashboard-2 .dash-content .forms-wrapper.active .forms {
  height: 600px;
}
.dashboard-2 .dash-content .forms-wrapper .form .title {
  position: relative;
  font-size: 27px;
  font-weight: 600;
}
.dashboard-2 .dash-content .form .title::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 30px;
  background-color: #4070f4;
  border-radius: 25px;
}
.dashboard-2 .dash-content .form .input-field {
  position: relative;
  height: 50px;
  width: 100%;
  margin-top: 30px;
}
.dashboard-2 .dash-content .input-field input {
  position: absolute;
  height: 100%;
  width: 100%;
  padding: 0 35px;
  border: none;
  outline: none;
  font-size: 16px;
  border-bottom: 2px solid #ccc;
  border-top: 2px solid transparent;
  transition: all 0.2s ease;
}
.dashboard-2 .dash-content .input-field input:is(:focus, :valid) {
  border-bottom-color: #4070f4;
}
.dashboard-2 .dash-content .input-field i {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: #999;
  font-size: 23px;
  transition: all 0.2s ease;
}
.dashboard-2 .dash-content .input-field input:is(:focus, :valid) ~ i {
  color: #4070f4;
}
.dashboard-2 .dash-content .input-field i.icon {
  left: 0;
}
.dashboard-2 .dash-content .input-field i.showHidePw {
  right: 0;
  cursor: pointer;
  padding: 10px;
}
.dashboard-2 .dash-content .form .checkbox-text {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
}
.dashboard-2 .dash-content .checkbox-text .checkbox-content {
  display: flex;
  align-items: center;
}
.dashboard-2 .dash-content .checkbox-content input {
  margin: 0 8px -2px 4px;
  accent-color: #4070f4;
}
.dashboard-2 .dash-content .form .text {
  color: #333;
  font-size: 14px;
}
.dashboard-2 .dash-content .form a.text {
  color: #4070f4;
  text-decoration: none;
}
.dashboard-2 .dash-content .form a:hover {
  text-decoration: underline;
}
.dashboard-2 .dash-content .form .button {
  margin-top: 35px;
}
.dashboard-2 .dash-content .form .button input {
  border: none;
  color: #fff;
  font-size: 17px;
  font-weight: 500;
  letter-spacing: 1px;
  border-radius: 6px;
  background-color: #4070f4;
  cursor: pointer;
  transition: all 0.3s ease;
}
.dashboard-2 .dash-content .button input:hover {
  background-color: #265df2;
}
.dashboard-2 .dash-content .form .login-signup {
  margin-top: 30px;
  text-align: center;
}

.dashboard-2 {
  background: #e4e2f5;
}
.dashboard-2 nav {
  background-color: #3d5af1;
  border-right: none;
}
.dashboard-2 nav .logo-name .logo-image img {
  border-radius: unset;
}
.dashboard-2 nav .logo-name .logo_name {
  color: #fff;
}
.dashboard-2 nav .menu-items .nav-links li {
  color: #cfcde7;
  padding: 2.5px 0;
}
.dashboard-2 nav .menu-items .nav-links li a i {
  color: #cfcde7;
}
.dashboard-2 nav .menu-items .nav-links li a i.active {
  color: #fff;
}
.dashboard-2 nav .menu-items .nav-links li a span {
  color: #cfcde7;
  margin: auto 10px;
  font-size: 16px;
}
.dashboard-2 nav .menu-items .nav-links li a span.active {
  color: #fff;
}
.dashboard-2 nav .menu-items .logout-mode {
  border-top: none;
}
.dashboard-2 nav .menu-items .logout-mode li {
  padding: 2.5px 0;
}
.dashboard-2 nav .menu-items .logout-mode li a i {
  color: #cfcde7;
}
.dashboard-2 nav .menu-items .logout-mode li a span {
  color: #cfcde7;
  margin: auto 20px;
  font-size: 16px;
}
.dashboard-2 .dashboard .top {
  position: initial;
  padding: 10px 0px;
}
.dashboard-2 .dashboard .dash-content {
  padding-top: 0px;
  /* ==============================================
      ALL CUSTOM STYLING PUT UNDER HERE
  ============================================== */
}
.dashboard-2 .dashboard .dash-content .forms-wrapper {
  margin: 0 auto;
  padding-bottom: 50px;
}
