@import url(https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap);
*, ::before, ::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body.project-resume {
  --header-height: 3rem;
  --title-color: #0B0A0A;
  --text-color: #403A3A;
  --text-color-light: #707070;
  --container-color: #FAFAFA;
  --container-color-alt: #F0EFEF;
  --body-color: #FCFCFC;
  --body-font: "Poppins", sans-serif;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1rem;
  --normal-font-size: .938rem;
  --small-font-size: .875rem;
  --smaller-font-size: .813rem;
  --font-medium: 500;
  --font-semi-bold: 600;
  --mb-1: .5rem;
  --mb-2: 1rem;
  --mb-3: 1.5rem;
  --z-tooltip: 10;
  --z-fixed: 100;
  margin: 0 0 var(--header-height) 0;
  padding: 0;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-color: var(--body-color);
  color: var(--text-color);
}

body.project-resume.dark-theme {
  --title-color: #F2F2F2;
  --text-color: #BFBFBF;
  --container-color: #212121;
  --container-color-alt: #181616;
  --body-color: #2B2B2B;
}

.project-resume h1, .project-resume h2, .project-resume h3, .project-resume ul, .project-resume p {
  margin: 0;
}
.project-resume h1, .project-resume h2, .project-resume h3 {
  color: var(--title-color);
  font-weight: var(--font-medium);
}
.project-resume ul {
  padding: 0;
  list-style: none;
}
.project-resume a {
  text-decoration: none;
}
.project-resume img {
  max-width: 100%;
  height: auto;
}
.project-resume .section {
  padding: 1.5rem 0;
}
.project-resume .section .section__title {
  font-size: var(--h2-font-size);
  color: var(--title-color);
  font-weight: var(--font-semi-bold);
  text-transform: uppercase;
  letter-spacing: 0.35rem;
  text-align: center;
  margin-bottom: var(--mb-3);
}
.project-resume .bd-container {
  max-width: 968px;
  width: calc(100% - 3rem);
  margin-left: var(--mb-3);
  margin-right: var(--mb-3);
}
.project-resume .bd-container .resume .resume__left .home {
  position: relative;
}
.project-resume .bd-container .resume .resume__left .home .home__container {
  gap: 3rem;
}
.project-resume .bd-container .resume .resume__left .home .home__container .home__data {
  gap: 0.5rem;
  text-align: center;
}
.project-resume .bd-container .resume .resume__left .home .home__container .home__data .home__img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  justify-self: center;
  margin-bottom: var(--mb-1);
}
.project-resume .bd-container .resume .resume__left .home .home__container .home__data .home__title {
  font-size: var(--h1-font-size);
}
.project-resume .bd-container .resume .resume__left .home .home__container .home__data .home__profession {
  font-size: var(--normal-font-size);
  margin-bottom: var(--mb-1);
}
.project-resume .bd-container .resume .resume__left .home .home__container .home__data a.home__button-movil {
  display: inline-block;
  border: 2px solid var(--text-color);
  color: var(--title-color);
  padding: 1rem 2rem;
  border-radius: 0.25rem;
  transition: 0.3s;
  font-weight: var(--font-medium);
  margin-top: var(--mb-3);
}
.project-resume .bd-container .resume .resume__left .home .home__container .home__data a.home__button-movil:hover {
  background-color: var(--text-color);
  color: var(--container-color);
}
.project-resume .bd-container .resume .resume__left .home .home__container .home__address {
  gap: 1rem;
}
.project-resume .bd-container .resume .resume__left .home .home__container .home__address .home__information {
  display: flex;
  align-items: center;
  font-size: var(--small-font-size);
}
.project-resume .bd-container .resume .resume__left .home .home__container .home__address .home__information .home__icon {
  font-size: 1.2rem;
  margin-right: 0.25rem;
}
.project-resume .bd-container .resume .resume__left .home .change-theme {
  position: absolute;
  right: 0;
  top: 2.2rem;
  display: flex;
  color: var(--text-color);
  font-size: 1.2rem;
  cursor: pointer;
}
.project-resume .bd-container .resume .resume__left .home .change-theme:hover {
  color: var(--title-color);
}
.project-resume .bd-container .resume .resume__left .home .generate-pdf {
  display: none;
  position: absolute;
  top: 2.2rem;
  left: 0;
  font-size: 1.2rem;
  color: var(--text-color);
  cursor: pointer;
}
.project-resume .bd-container .resume .resume__left .home .generate-pdf:hover {
  color: var(--title-color);
}
.project-resume .bd-container .resume .resume__left .social .social__container {
  grid-template-columns: -webkit-max-content;
  grid-template-columns: max-content;
  gap: 1rem;
}
.project-resume .bd-container .resume .resume__left .social .social__container .social__link {
  display: inline-flex;
  align-items: center;
  font-size: var(--small-font-size);
  color: var(--text-color);
}
.project-resume .bd-container .resume .resume__left .social .social__container .social__link .social__icon {
  font-size: 1.2rem;
  margin-right: 0.25rem;
}
.project-resume .bd-container .resume .resume__left .social .social__container .social__link:hover {
  color: var(--title-color);
}
.project-resume .bd-container .resume .resume__left .profile .profile__description {
  text-align: center;
}
.project-resume .bd-container .resume .resume__left .education .education__container .education__content {
  display: flex;
}
.project-resume .bd-container .resume .resume__left .education .education__container .education__content .education__time {
  padding-right: 1rem;
}
.project-resume .bd-container .resume .resume__left .education .education__container .education__content .education__time .education__rounder {
  position: relative;
  display: block;
  width: 16px;
  height: 16px;
  background-color: var(--text-color);
  border-radius: 50%;
  margin-top: 0.25rem;
}
.project-resume .bd-container .resume .resume__left .education .education__container .education__content .education__time .education__line {
  display: block;
  width: 2px;
  height: 110%;
  background-color: var(--text-color);
  transform: translate(7px, 0);
}
.project-resume .bd-container .resume .resume__left .education .education__container .education__content .education__data {
  gap: 0.5rem;
}
.project-resume .bd-container .resume .resume__left .education .education__container .education__content .education__data .education__title {
  font-size: var(--h3-font-size);
}
.project-resume .bd-container .resume .resume__left .education .education__container .education__content .education__data .education__studies {
  font-size: var(--small-font-size);
  color: var(--title-color);
}
.project-resume .bd-container .resume .resume__left .education .education__container .education__content .education__data .education__year {
  font-size: var(--smaller-font-size);
}
.project-resume .bd-container .resume .resume__left .skills .skills__content {
  grid-template-columns: repeat(2, 1fr);
  gap: 0;
}
.project-resume .bd-container .resume .resume__left .skills .skills__content .skill__data .skill__name {
  display: flex;
  align-items: center;
  margin-bottom: var(--mb-3);
}
.project-resume .bd-container .resume .resume__left .skills .skills__content .skill__data .skill__name .skill__circle {
  display: inline-block;
  width: 5px;
  height: 5px;
  background-color: var(--text-color);
  border-radius: 50%;
  margin-right: 0.75rem;
}
.project-resume .bd-container .resume .resume__right .experience .experience__container .experience__content {
  display: flex;
}
.project-resume .bd-container .resume .resume__right .experience .experience__container .experience__content .experience__time {
  padding-right: 1rem;
}
.project-resume .bd-container .resume .resume__right .experience .experience__container .experience__content .experience__time .experience__rounder {
  position: relative;
  display: block;
  width: 16px;
  height: 16px;
  background-color: var(--text-color-light);
  border-radius: 50%;
  margin-top: 0.25rem;
}
.project-resume .bd-container .resume .resume__right .experience .experience__container .experience__content .experience__time .experience__line {
  display: block;
  width: 2px;
  height: 110%;
  background-color: var(--text-color);
  transform: translate(7px, 0);
}
.project-resume .bd-container .resume .resume__right .experience .experience__container .experience__content .experience__data {
  gap: 0.5rem;
}
.project-resume .bd-container .resume .resume__right .experience .experience__container .experience__content .experience__data .experience__title {
  font-size: var(--h3-font-size);
}
.project-resume .bd-container .resume .resume__right .experience .experience__container .experience__content .experience__data .experience__company {
  font-size: var(--small-font-size);
  color: var(--title-color);
}
.project-resume .bd-container .resume .resume__right .experience .experience__container .experience__content .experience__data .experience__description {
  font-size: var(--smaller-font-size);
}
.project-resume .bd-container .resume .resume__right .certificate .certificate__container .certificate__content .certificate__title {
  font-size: var(--h3-font-size);
  margin-bottom: var(--mb-1);
}
.project-resume .bd-container .resume .resume__right .references .references__container .references__content {
  gap: 0.25rem;
}
.project-resume .bd-container .resume .resume__right .references .references__container .references__content .references__subtitle {
  color: var(--text-color-light);
}
.project-resume .bd-container .resume .resume__right .references .references__container .references__content .references__subtitle,
.project-resume .bd-container .resume .resume__right .references .references__container .references__content .references__contact {
  font-size: var(--smaller-font-size);
}
.project-resume .bd-container .resume .resume__right .references .references__container .references__content .references__title {
  font-size: var(--h3-font-size);
}
.project-resume .bd-container .resume .resume__right .languages .languages__content {
  grid-template-columns: repeat(2, 1fr);
  gap: 0;
}
.project-resume .bd-container .resume .resume__right .languages .languages__content .languages__name {
  display: flex;
  align-items: center;
  margin-bottom: var(--mb-3);
}
.project-resume .bd-container .resume .resume__right .languages .languages__content .languages__name .languages__circle {
  display: inline-block;
  width: 5px;
  height: 5px;
  background-color: var(--text-color);
  border-radius: 50%;
  margin-right: 0.75rem;
}
.project-resume .bd-container .resume .resume__right .interests .interests__container {
  grid-template-columns: repeat(3, 1fr);
  margin-top: var(--mb-2);
}
.project-resume .bd-container .resume .resume__right .interests .interests__container .interests__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.project-resume .bd-container .resume .resume__right .interests .interests__container .interests__content .interests__icon {
  font-size: 1.5rem;
  color: var(--text-color);
  margin-bottom: 0.25rem;
}
.project-resume .bd-grid {
  display: grid;
  gap: 1.5rem;
}
.project-resume .l-header {
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: var(--z-fixed);
  background-color: var(--body-color);
  box-shadow: 0 -1px 4px rgba(0, 0, 0, 0.1);
  transition: 0.3s;
}
.project-resume .l-header .nav {
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media screen and (max-width: 968px) {
  .project-resume .l-header .nav .nav__menu {
    position: fixed;
    bottom: -100%;
    left: 0;
    width: 100%;
    padding: 2rem 1.5rem;
    background-color: var(--body-color);
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
    border-radius: 1rem 1rem 0 0;
    z-index: var(--z-fixed);
    transition: 0.3s;
  }
}
.project-resume .l-header .nav .nav__logo,
.project-resume .l-header .nav .nav__toggle {
  color: var(--title-color);
  font-weight: var(--font-medium);
}
.project-resume .l-header .nav .nav__toggle {
  font-size: 1.2rem;
  cursor: pointer;
}
.project-resume .l-header .nav .nav__menu .nav__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}
.project-resume .l-header .nav .nav__menu .nav__list .nav__item {
  text-align: center;
}
.project-resume .l-header .nav .nav__menu .nav__list .nav__item .nav__link {
  display: flex;
  flex-direction: column;
  font-size: var(--smaller-font-size);
  color: var(--text-color);
  font-weight: var(--font-medium);
}
.project-resume .l-header .nav .nav__menu .nav__list .nav__item .nav__link .nav__icon {
  font-size: 1.2rem;
  margin-bottom: var(--mb-1);
}
.project-resume .l-header .nav .nav__menu .nav__list .nav__item .nav__link.active-link {
  color: var(--title-color);
}
.project-resume .l-header .nav .nav__menu .nav__list .nav__item .nav__link:hover {
  color: var(--title-color);
}
.project-resume .l-header .nav .show-menu {
  bottom: var(--header-height);
}
.project-resume .scrolltop {
  position: fixed;
  right: 1rem;
  bottom: -20%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.3rem;
  background-color: var(--container-color);
  border-radius: 0.4rem;
  z-index: var(--z-tooltip);
  transition: 0.4s;
  visibility: hidden;
}
.project-resume .scrolltop .scrolltop__icon {
  font-size: 1.2rem;
  color: var(--text-color);
}
.project-resume .scrolltop.show-scroll {
  visibility: visible;
  bottom: 5rem;
}

body.project-resume.scale-cv {
  --h1-font-size: .938rem;
  --h2-font-size: .938rem;
  --h3-font-size: .875rem;
  --normal-font-size: .813rem;
  --small-font-size: .75rem;
  --smaller-font-size: .688rem;
}
body.project-resume.scale-cv .bd-container {
  max-width: 595px;
}
body.project-resume.scale-cv .bd-container .resume .resume__left,
body.project-resume.scale-cv .bd-container .resume .resume__right {
  padding: 0 1rem;
}
body.project-resume.scale-cv .bd-container .resume .resume__left .home .change-theme,
body.project-resume.scale-cv .bd-container .resume .resume__left .home .generate-pdf {
  display: none;
}
body.project-resume.scale-cv .bd-container .resume .resume__left .home .home__container {
  gap: 1.5rem;
}
body.project-resume.scale-cv .bd-container .resume .resume__left .home .home__container .home__data {
  gap: 0.25rem;
}
body.project-resume.scale-cv .bd-container .resume .resume__left .home .home__container .home__data .home__img {
  width: 90px;
  height: 90px;
}
body.project-resume.scale-cv .bd-container .resume .resume__left .home .home__container .home__address {
  gap: 0.75rem;
}
body.project-resume.scale-cv .bd-container .resume .resume__left .home .home__container .home__address .home__icon {
  font-size: 1rem;
}
body.project-resume.scale-cv .bd-container .resume .resume__left .social .social__container {
  gap: 0.75rem;
}
body.project-resume.scale-cv .bd-container .resume .resume__left .social .social__container .social__link .social__icon {
  font-size: 1rem;
}
body.project-resume.scale-cv .bd-container .resume .resume__left .education .education__container {
  gap: 1rem;
}
body.project-resume.scale-cv .bd-container .resume .resume__left .education .education__container .education__content .education__time {
  padding-right: 0.5rem;
}
body.project-resume.scale-cv .bd-container .resume .resume__left .education .education__container .education__content .education__time .education__rounder {
  width: 11px;
  height: 11px;
  margin-top: 0.22rem;
}
body.project-resume.scale-cv .bd-container .resume .resume__left .education .education__container .education__content .education__time .education__line {
  width: 1px;
  height: 110%;
  transform: translate(5px, 0);
}
body.project-resume.scale-cv .bd-container .resume .resume__left .education .education__container .education__content .education__data {
  gap: 0.25rem;
}
body.project-resume.scale-cv .bd-container .resume .resume__left .skills .skills__content .skill__data .skill__name {
  margin-bottom: var(--mb-1);
}
body.project-resume.scale-cv .bd-container .resume .resume__right .interests .interests__container {
  -moz-column-gap: 2.5rem;
       column-gap: 2.5rem;
}
body.project-resume.scale-cv .bd-container .resume .resume__right .interests .interests__container .interests__content .interests__icon {
  font-size: 1rem;
}
body.project-resume.scale-cv .bd-container .resume .resume__right .experience .experience__container {
  gap: 1rem;
}
body.project-resume.scale-cv .bd-container .resume .resume__right .experience .experience__container .experience__content .experience__time {
  padding-right: 0.5rem;
}
body.project-resume.scale-cv .bd-container .resume .resume__right .experience .experience__container .experience__content .experience__time .experience__rounder {
  width: 11px;
  height: 11px;
  margin-top: 0.22rem;
}
body.project-resume.scale-cv .bd-container .resume .resume__right .experience .experience__container .experience__content .experience__time .experience__line {
  width: 1px;
  height: 110%;
  transform: translate(5px, 0);
}
body.project-resume.scale-cv .bd-container .resume .resume__right .experience .experience__container .experience__content .experience__data {
  gap: 0.25rem;
}
body.project-resume.scale-cv .bd-container .resume .resume__right .certificate .certificate__container {
  gap: 1rem;
}
body.project-resume.scale-cv .section {
  padding: 1.5rem 0 0.8rem;
}
body.project-resume.scale-cv .section .section__title {
  margin-bottom: 0.75rem;
}

@media screen and (max-width: 320px) {
  .project-resume .l-header .nav .nav__menu .nav__list {
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem 0.5rem;
  }
}
@media screen and (min-width: 968px) {
  body.project-resume {
    margin: 3rem 0;
  }
  body.project-resume .bd-container {
    margin-left: auto;
    margin-right: auto;
  }
  body.project-resume .section .section__title {
    text-align: initial;
  }
  body.project-resume .l-header,
body.project-resume .scrolltop {
    display: none;
  }
  body.project-resume .l-main .resume {
    display: grid;
    grid-template-columns: 0.5fr 1fr;
    background-color: var(--container-color);
    box-shadow: 0 0 8px rgba(13, 12, 12, 0.15);
  }
  body.project-resume .l-main .resume .resume__left,
body.project-resume .l-main .resume .resume__right {
    padding: 0 1.5rem;
  }
  body.project-resume .l-main .resume .resume__left {
    background-color: var(--container-color-alt);
  }
  body.project-resume .l-main .resume .resume__left .home .home__container {
    gap: 1.5rem;
  }
  body.project-resume .l-main .resume .resume__left .home .home__container .home__data a.home__button-movil {
    display: none;
  }
  body.project-resume .l-main .resume .resume__left .home .generate-pdf {
    display: inline-block;
  }
  body.project-resume .l-main .resume .resume__left .profile .profile__description {
    text-align: initial;
  }
  body.project-resume .l-main .resume .resume__right .references .references__container {
    grid-template-columns: repeat(2, 1fr);
  }
  body.project-resume .l-main .resume .resume__right .languages .languages__content {
    grid-template-columns: repeat(3, -webkit-max-content);
    grid-template-columns: repeat(3, max-content);
    -moz-column-gap: 3.5rem;
         column-gap: 3.5rem;
  }
  body.project-resume .l-main .resume .resume__right .interests .interests__container {
    grid-template-columns: repeat(4, -webkit-max-content);
    grid-template-columns: repeat(4, max-content);
    -moz-column-gap: 3.5rem;
         column-gap: 3.5rem;
  }
}
