*,::before,::after {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}


body.project-resume {

    --header-height: 3rem;
    
    --title-color: #0B0A0A;
    --text-color: #403A3A;
    --text-color-light: #707070;
    --container-color: #FAFAFA;
    --container-color-alt: #F0EFEF;
    --body-color: #FCFCFC;
  
    --body-font: 'Poppins', sans-serif;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1rem;
    --normal-font-size: .938rem;
    --small-font-size: .875rem;
    --smaller-font-size: .813rem;
  
    --font-medium: 500;
    --font-semi-bold: 600;
  
    --mb-1: .5rem;
    --mb-2: 1rem;
    --mb-3: 1.5rem;
  
    --z-tooltip: 10;
    --z-fixed: 100;


    margin: 0 0 var(--header-height) 0;
    padding: 0;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    background-color: var(--body-color);
    color: var(--text-color);
}

body.project-resume.dark-theme {
    --title-color: #F2F2F2;
    --text-color: #BFBFBF;
    --container-color: #212121;
    --container-color-alt: #181616;
    --body-color: #2B2B2B;
}

.project-resume {
    
    h1, h2, h3, ul, p {
        margin: 0;

    }

    h1, h2, h3 {
        color: var(--title-color);
        font-weight: var(--font-medium);
    }

    ul {
        padding: 0;
        list-style: none;

    }

    a {
        text-decoration: none;
    }

    img {
        max-width: 100%;
        height: auto;
    }

    .section {
        padding: 1.5rem 0;

        .section__title {
            font-size: var(--h2-font-size);
            color: var(--title-color);
            font-weight: var(--font-semi-bold);
            text-transform: uppercase;
            letter-spacing: .35rem;
            text-align: center;
            margin-bottom: var(--mb-3);
        }
    }
    
    .bd-container {
        max-width: 968px;
        width: calc(100% - 3rem);
        margin-left: var(--mb-3);
        margin-right: var(--mb-3);

        .resume {
            .resume__left {
                .home {
                    position: relative;
                    .home__container {
                        gap: 3rem;

                        .home__data {
                            gap: .5rem;
                            text-align: center;

                            .home__img {
                                width: 120px;
                                height: 120px;
                                border-radius: 50%;
                                justify-self: center;
                                margin-bottom: var(--mb-1);
                            }

                            .home__title {
                                font-size: var(--h1-font-size);
                            }

                            .home__profession {
                                font-size: var(--normal-font-size);
                                margin-bottom: var(--mb-1);
                            }

                            a.home__button-movil {
                                display: inline-block;
                                border: 2px solid var(--text-color);
                                color: var(--title-color);
                                padding: 1rem 2rem;
                                border-radius: .25rem;
                                transition: .3s;
                                font-weight: var(--font-medium);
                                margin-top: var(--mb-3);
                            }

                            a.home__button-movil:hover {
                                background-color: var(--text-color);
                                color: var(--container-color);
                            }
                        }

                        .home__address {
                            gap: 1rem;

                            .home__information {
                                display: flex;
                                align-items: center;
                                font-size: var(--small-font-size);

                                .home__icon {
                                    font-size: 1.2rem;
                                    margin-right: .25rem;
                                }
                            }
                        }
                    }

                    .change-theme {
                        position: absolute;
                        right: 0;
                        top: 2.2rem;
                        display: flex;
                        color: var(--text-color);
                        font-size: 1.2rem;
                        cursor: pointer;
                    }

                    .change-theme:hover {
                        color: var(--title-color);
                    }

                    .generate-pdf {
                        display: none;
                        position: absolute;
                        top: 2.2rem;
                        left: 0;
                        font-size: 1.2rem;
                        color: var(--text-color);
                        cursor: pointer;
                    }

                    .generate-pdf:hover {
                        color: var(--title-color);
                    }

                }

                .social {
                    .social__container {
                        grid-template-columns: max-content;
                        gap: 1rem;

                        .social__link {
                            display: inline-flex;
                            align-items: center;
                            font-size: var(--small-font-size);
                            color: var(--text-color);

                            .social__icon {
                                font-size: 1.2rem;
                                margin-right: .25rem;
                            }
                        }

                        .social__link:hover {
                            color: var(--title-color);
                        }
                    }
                }

                .profile {

                    .profile__description {
                        text-align: center;
                    }
                }

                .education {
                    .education__container {
                        .education__content {
                            display: flex;

                            .education__time{
                                padding-right: 1rem;

                                .education__rounder{
                                    position: relative;
                                    display: block;
                                    width: 16px;
                                    height: 16px;
                                    background-color: var(--text-color);
                                    border-radius: 50%;
                                    margin-top: .25rem;
                                }

                                .education__line {
                                    display: block;
                                    width: 2px;
                                    height: 110%;
                                    background-color: var(--text-color);
                                    transform: translate(7px, 0);
                                }
                            }

                            .education__data {
                                gap: .5rem;

                                .education__title {
                                    font-size: var(--h3-font-size);
                                }

                                .education__studies {
                                    font-size: var(--small-font-size);
                                    color: var(--title-color);
                                }

                                .education__year{
                                    font-size: var(--smaller-font-size);
                                }
                            }
                        }
                    }

                }

                .skills {
                    .skills__content {
                        grid-template-columns: repeat(2, 1fr);
                        gap: 0;
                        .skill__data {
                            
                            .skill__name {
                                display: flex;
                                align-items: center;
                                margin-bottom: var(--mb-3);

                                .skill__circle {
                                    display: inline-block;
                                    width: 5px;
                                    height: 5px;
                                    background-color: var(--text-color);
                                    border-radius: 50%;
                                    margin-right: .75rem;
                                }
                            }
                        }
                    }
                }

                
            }

            .resume__right {
                
                .experience {
                    .experience__container {
                        .experience__content {
                            display: flex;

                            .experience__time{
                                padding-right: 1rem;

                                .experience__rounder{
                                    position: relative;
                                    display: block;
                                    width: 16px;
                                    height: 16px;
                                    background-color: var(--text-color-light);
                                    border-radius: 50%;
                                    margin-top: .25rem;
                                }

                                .experience__line {
                                    display: block;
                                    width: 2px;
                                    height: 110%;
                                    background-color: var(--text-color);
                                    transform: translate(7px, 0);
                                }
                            }

                            .experience__data {
                                gap: .5rem;

                                .experience__title {
                                    font-size: var(--h3-font-size);
                                }

                                .experience__company {
                                    font-size: var(--small-font-size);
                                    color: var(--title-color);
                                }

                                .experience__description {
                                    font-size: var(--smaller-font-size);
                                }
                            }
                        }
                    }

                }

                .certificate {
                    .certificate__container {
                        .certificate__content {
                            .certificate__title {
                                font-size: var(--h3-font-size);
                                margin-bottom: var(--mb-1);
                            }
                        }
                    }
                }

                .references {
                    .references__container {
                        .references__content {
                            gap: .25rem;

                            .references__subtitle {
                                color: var(--text-color-light);
                            }

                            .references__subtitle, 
                            .references__contact {
                                font-size: var(--smaller-font-size);
                            }

                            .references__title {
                                font-size: var(--h3-font-size);
                            }
                        }
                    }
                }

                .languages {
                    .languages__content {
                        grid-template-columns: repeat(2, 1fr);
                        gap: 0;
                        .languages__name {
                            display: flex;
                            align-items: center;
                            margin-bottom: var(--mb-3);

                            .languages__circle {
                                display: inline-block;
                                width: 5px;
                                height: 5px;
                                background-color: var(--text-color);
                                border-radius: 50%;
                                margin-right: .75rem;
                            }
                        }
                    }
                }

                .interests {
                    .interests__container {
                            grid-template-columns: repeat(3, 1fr);
                            margin-top: var(--mb-2);
                        .interests__content {
                            display: flex;
                            flex-direction: column;
                            align-items: center;
                            text-align: center;
                            .interests__icon {
                                font-size: 1.5rem;
                                color: var(--text-color);
                                margin-bottom: .25rem;
                            }
                            .interests__name {

                            }
                        }
                    }
                }
            }
        }
    }

    .bd-grid {
        display: grid;
        gap: 1.5rem;
    }

    .l-header {
        width: 100%;
        position: fixed;
        bottom: 0;
        left: 0;
        z-index: var(--z-fixed);
        background-color: var(--body-color);
        box-shadow: 0 -1px 4px rgba(0, 0, 0, .1);
        transition: .3s;

        .nav {
            height: var(--header-height);
            display: flex;
            justify-content: space-between;
            align-items: center;

            @media screen and (max-width: 968px){
                .nav__menu {
                    position: fixed;
                    bottom: -100%; // var(--header-height)
                    left: 0;
                    width: 100%;
                    padding: 2rem 1.5rem;
                    background-color: var(--body-color);
                    box-shadow: 0 1px 4px rgba(0, 0, 0, .1);
                    border-radius: 1rem 1rem 0 0;
                    z-index: var(--z-fixed);
                    transition: .3s;
                }
            }

            .nav__logo, 
            .nav__toggle {
                color: var(--title-color);
                font-weight: var(--font-medium);
            }

            .nav__toggle {
                font-size: 1.2rem;
                cursor: pointer;
            }

            .nav__menu {
                .nav__list {
                        display: grid;
                        grid-template-columns: repeat(3 ,1fr);
                        gap: 2rem;
                    .nav__item {
                        text-align: center;
                        .nav__link {
                            display: flex;
                            flex-direction: column;
                            font-size: var(--smaller-font-size);
                            color: var(--text-color);
                            font-weight: var(--font-medium);

                            .nav__icon {
                                font-size: 1.2rem;
                                margin-bottom: var(--mb-1);
                            }
                        }

                        .nav__link.active-link {
                            color: var(--title-color);
                        }

                        .nav__link:hover {
                            color: var(--title-color);
                        }
                    }
                }
            }

            .show-menu {
                bottom: var(--header-height);
            }

        }
    }

    .scrolltop {
        position: fixed;
        right: 1rem;
        bottom: -20%; // 5rem
        display: flex;
        justify-content: center;
        align-items: center;
        padding: .3rem;
        background-color: var(--container-color);
        border-radius: .4rem;
        z-index: var(--z-tooltip);
        transition: .4s;
        visibility: hidden;

        .scrolltop__icon {
            font-size: 1.2rem;
            color: var(--text-color);
        }
    }

    .scrolltop.show-scroll {
        visibility: visible;
        bottom: 5rem;
    }
}

body.project-resume.scale-cv {
    --h1-font-size: .938rem;
    --h2-font-size: .938rem;
    --h3-font-size: .875rem;
    --normal-font-size: .813rem;
    --small-font-size: .75rem;
    --smaller-font-size: .688rem;

    .bd-container {
        max-width: 595px;
        .resume {
            .resume__left, 
            .resume__right {
                padding: 0 1rem;
            }

            .resume__left {
                .home {
                    .change-theme, 
                    .generate-pdf {
                        display: none;
                    }

                    .home__container {
                        gap: 1.5rem;
                        .home__data {
                            gap: .25rem;
                            .home__img {
                                width: 90px;
                                height: 90px;
                            }
                        }

                        .home__address {
                            gap: .75rem;

                            .home__icon {
                                font-size: 1rem;
                            }
                        }
                    }
                }

                .social {
                    .social__container {
                        gap: .75rem;
                        .social__link {
                            .social__icon {
                                font-size: 1rem;
                            }
                        }
                    }
                }

                .education {
                    .education__container {
                        gap: 1rem;
                        .education__content {
                            .education__time {
                                padding-right: .5rem;

                                .education__rounder {
                                    width: 11px;
                                    height: 11px;
                                    margin-top: .22rem;
                                }

                                .education__line {
                                    width: 1px;
                                    height: 110%;
                                    transform: translate(5px, 0);
                                }
                            }

                            .education__data {
                                gap: .25rem;
                            }
                        }

                    }
                }

                .skills {
                    .skills__content {
                        .skill__data {
                            .skill__name {
                                margin-bottom: var(--mb-1);
                            }
                        }
                    }
                }





            }   

            .resume__right {
                .interests {
                    .interests__container {
                        column-gap: 2.5rem;
                        .interests__content {
                            .interests__icon {
                                font-size: 1rem;
                            }
                        }
                    }
                }

                .experience {
                    .experience__container {
                        gap: 1rem;
                        .experience__content {
                            .experience__time {
                                padding-right: .5rem;
                                .experience__rounder {
                                    width: 11px;
                                    height: 11px;
                                    margin-top: .22rem;
                                }

                                .experience__line {
                                    width: 1px;
                                    height: 110%;
                                    transform: translate(5px, 0);
                                }
                            }

                            .experience__data {
                                gap: .25rem;
                            }
                        }

                    }
                }

                .certificate {
                    .certificate__container {
                        gap: 1rem;
                    }
                }
            }
        }
    }

    .section {
        padding: 1.5rem 0 .80rem; 

        .section__title {
            margin-bottom: .75rem;
        }
    }
}

// SMALL DEVICES, MENU COLUMN
@media screen and (max-width: 320px){
    .project-resume {
        .l-header {
            .nav {
                .nav__menu {
                    .nav__list {
                        grid-template-columns: repeat(2, 1fr);
                        gap: 1rem .5rem;
                    }
                }
            }
        }
    }

}

// LARGE SCREEN SIZE
@media screen and (min-width: 968px){
    body.project-resume {
        margin: 3rem 0;

        .bd-container {
            margin-left: auto;
            margin-right: auto;
        }

        .section {
            .section__title {
                text-align: initial;
            }
        }

        .l-header,
        .scrolltop {
            display: none;
        }

        .l-main {
            .resume {
                display: grid;
                grid-template-columns: .5fr 1fr;
                background-color: var(--container-color);
                box-shadow: 0 0 8px rgba(13, 12, 12, .15);

                .resume__left,
                .resume__right {
                    padding: 0 1.5rem;
                }

                .resume__left {
                    background-color: var(--container-color-alt);

                    .home {
                        .home__container {
                            gap: 1.5rem;
                            .home__data {
                                a.home__button-movil {
                                    display: none;
                                }
                            }

                        }

                        .generate-pdf {
                            display: inline-block;
                        }
                    }

                    .profile {

                        .profile__description {
                            text-align: initial;
                        }
                    }
                }

                .resume__right {
                    .references {
                        .references__container {
                            grid-template-columns: repeat(2, 1fr);
                        }
                    }

                    .languages {
                        .languages__content {
                            grid-template-columns: repeat(3, max-content);
                            column-gap: 3.5rem;
                        }
                    }

                    .interests {
                        .interests__container {
                            grid-template-columns: repeat(4, max-content);
                            column-gap: 3.5rem;
                        }
                    }
                    

                }

                

            }
        }
    }
}


